@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-image: linear-gradient(cyan, rgb(255, 73, 73));
    border-radius: 10px;
}
body::-webkit-scrollbar-track{
    background-color: #f1f1f1ff;
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover{
    background-image: linear-gradient(lightgreen, orange);
}
body {
    font-family: Arial, sans-serif;
    background-image: url(img/background2.jpg);
}


/* Navigation Bar styles */
.navbar {
    background-color: #333;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: block;
}

.navbar ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Main content area */
.content {
    text-align: center;
    margin-top: 50px;
}


