*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;

}

body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-image: linear-gradient(cyan, rgb(255, 73, 73));
    border-radius: 10px;
}
body::-webkit-scrollbar-track{
    background-color: #f1f1f1ff;
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover{
    background-image: linear-gradient(lightgreen, orange);
}


header{
    margin-bottom: 15px;
    justify-content: center;
    margin-top: 10px;
}



h2{
    color: crimson;
    padding: 10px;
    margin-bottom: 2px;
    background-color: yellow;
    width: 550px;

}

p{
    color: black;
    padding: 5px;
    margin-bottom: 2px;
    background-color: red;
    width: 600px;
}

img{
    width: 350px;
    height: auto;

    
}

.content{
    width: 50%;
    background-color: gray;

    
}

.media{
    width: 45%;
    float: left;
}
